body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    overflow: hidden;
  }
  svg {
    width: 100vw;
    height: 85vh;
  }
  path {
    fill: rgb(73, 156, 95);
    cursor: pointer;
  }
  path:hover {
    fill: rgb(150, 219, 241);
  }