<div class="stars"></div>
<div class="twinkling">
    <div>
        
        <!-- Debut du code pour le quiz-->
        <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz sur l'espace | CodingIndia</title>
    <!-- FontAweome CDN Link for Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>

    <!-- start Quiz button -->
        <div class="start_btn"><button>Commencer le quiz</button></div>


            <!-- Info Box -->
    <div class="info_box">
        <div class="info-title"><span>Quelques règles</span></div>
        <div class="info-list">
           <div class="info">1. Il y a 10 questions</div>
            <div class="info">2. Vous n'aurez que <span>15 secondes</span> pour répondre à chaques questions.</div>
            <div class="info">3. Vous ne pouvez pas modifier votre réponse.</div>
            <div class="info">4. Vous ne pouvez pas quittez le quiz avant d'avoir terminé le jeu.</div>
        </div>
        <div class="buttons">
            <button class="quit">Quitter</button>
            <button class="restart">Continuer</button>
            
        </div>
    </div>
    <div class="clouds"></div>
</body>
        </html>
        <!--Fin du code pour le quiz-->
    </div>
</div>


